.featured {
  padding: 80px;
}

.featureHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .featureHeader__title {
    flex: 1 1;
  }

  .featureHeader__content {
    flex: 2 1;
    text-align: justify;
    color: gray;
  }
}

.featuredWrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 25px;

  & .item {
    flex: 1 1 50%;
  }
}